

<div class="text-white text-center bg-black/30 mt-6 border-0 rounded-lg p-4 w-80">
  
  <div class="py-1 flex justify-between gap-x-4">
    <img src="../../public/uncp.png" alt="Logo UNCP" class="w-23 h-auto">
    <img src="../../public/fis.png" alt="Logo FIS" class="w-20 h-auto">
  </div>

  <h2 class="font-bold">Universidad Nacional del Centro del Perú</h2>

  <h3 class="font-bold">Facultad de Ingeniería de Sistemas</h3>

  <p class="font-bold">Docente:</p>
  <p>Ing. Rojas Lazaro Eder Everardo</p>
  
  <p class="font-bold">Integrantes: </p>
  <div>
    <ul class="">
      <li>Allca Ramos Franklin Rusbel</li>
      <li>Ivan David Gomez Pariona</li>
      <li>Porras Falcon Alexander Neil</li>
      <li>Vargas Laime Andy Rodick</li>
    </ul>
  </div>
  <p class="text-bold">2025</p>
</div>