

<div class="flex flex-row gap-5 pt-8 justify-center">
  <div class="text-white text-center bg-black/30 border-0 rounded-4xl p-4 w-80">
  
  <div class="py-1 flex justify-between gap-x-4 pb-5">
    <img src="../../public/uncp.png" alt="Logo UNCP" class="w-24 h-auto">
    <img src="../../public/fis.png" alt="Logo FIS" class="w-19 h-auto">
  </div>

  <h2 class="font-bold">Universidad Nacional del Centro del Perú</h2>

  <h3 class="font-bold pb-5">Facultad de Ingeniería de Sistemas</h3>

  <p class="font-bold">Docente:</p>
  <p>Ing. Rojas Lazaro Eder Everardo</p>
  <p>Ing. Huaytalla Pariona Jaime Antonio</p>

  <p class="font-bold pt-3">Curso:</p>
  <p>Diseño de Base de Datos</p>
  
  <p class="font-bold pt-3">Integrantes: </p>
  <div>
    <ul class="">
      <li>Allca Ramos Franklin Rusbel</li>
      <li>Gomez Pariona Ivan David</li>
      <li>Porras Falcon Alexander Neil</li>
      <li>Vargas Laime Andy Rodick</li>
      <li>Pablito de los Backyardigans</li>
    </ul>
  </div>
  <p class="text-bold pt-3 font-semibold">Huancayo, Perú</p>
  <p class="text-bold font-semibold">2025</p>

  </div>

  <img src="../../public/chinook.png" alt="Base de datos Chinook" class="border-0 rounded-4xl h-145 w-170">
</div>
