---
export interface Playlist {
  PlaylistId: number;
  Name: string;
}

const res = await fetch('http://127.0.0.1:8000/playlists/');
const playlists: Playlist[] = await res.json();

import Button from '../Button.astro'
---

<h2 class="text-3xl font-bold text-white text-center my-6">
  Lista de Repoduccciones
</h2>

<Button
  namecreate="Crear Reproducción"
  pagecreate="http://127.0.0.1:8000/docs#/playlists/create_playlist_playlists__post"
  nameupdate="Actualizar Reproducción"
  pageupdate="http://127.0.0.1:8000/docs#/playlists/update_playlist_playlists__playlist_id__put"
  namedelete="Eliminar Reproducción"
  pagedelete="http://127.0.0.1:8000/docs#/playlists/delete_playlist_playlists__playlist_id__delete"
/>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {playlists.map((item) => (
    <div class="border border-gray-600 rounded-lg p-6 shadow hover:shadow-lg hover:scale-105 transition transform duration-200 text-center bg-slate-900/60 backdrop-blur-sm self-center">
      <p class="text-sm text-gray-400">ID (PK): {item.PlaylistId}</p>
      <h3 class="text-xl text-white font-semibold">{item.Name}</h3>
    </div>
  ))}
</div>