---
import '../styles/global.css'
const { title = 'Diseño de Base de Datos'} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="relative min-h-screen w-full bg-[radial-gradient(ellipse_at_top,_#92400e,_#fdba74,_#be185d)] p-5">
		
		<main class="relative z-10">

			<slot />

		</main>

	</body>
</html>

<style>
	html {
		font-family: system-ui;
	}
</style>
