---
const {item, page} = Astro.props
---

<div class="flex justify-center">
  <a 
    href={`/${page}/post`}
    class="text-white font-bold inline-block border rounded-2xl bg-green-600 p-2 mb-6"
    >+ Añadir nuevo {item}</a>
</div>
